nav{width: 100%; background-color: white; padding-left: 20px; padding-right: 10px; margin: 0;}

a.title{
  color:black;
  font-size: 70px;
  text-decoration: none;
  text-shadow:5px 5px 15px black;
}
.title:hover{
  color:red;
}

html{background-color: black;}

.nav-links{display:flex;list-style:none;font-size: 20px;}

.nav-item a{display: inline-block; padding: 20px 40px; text-decoration: none; color:black;}

.nav-item:hover{background-color: black;}

.nav-item:hover a{color:red}

.navbar{display:flex; justify-content:space-between; align-items: center;}

.logo{display: inline-block; }

.logo img{width: 100px; vertical-align: middle;}

body{margin:0;}

*,*::before, *::after{box-sizing: inherit; margin: 0; padding:0;}

html{box-sizing: border-box;}


footer{
  text-align: center;
  font-size: 15px;
  background-color: white;
  color: black;
}




#back h1{
  text-align: center;
  position: relative;
  bottom: 150px;
}

#vision{
  display:flex;
  justify-content: space-between;
}
#sci1 img{
  text-align: center;
  margin-left: 15%;
  width:100%

}
#back{
  text-align: center;
  margin-top: 2%;
  margin-left: 5%;
  width:100%
}
#sci2 img{
  transform: scaleX(-1);
  width:100%;
  text-align: center;

}


.vision{
  display: inline block;
  color: white;
  text-align: center;
  font-size: 30px;
  line-height: 50px;
  border: 5px;
  padding: 5px;
  border-style:solid;
  border-color: red;
  margin-right: 5%;
  margin-left: 5%;
  position: relative;
  bottom: 80px;
}

#location{

  color: white;
  padding: 10px;
  margin-left: 10%;
  margin-top: 12%;
  margin-bottom: 10%;
  font-size: 20px;
  border-style: solid;
  border-color: white;
}

#wrapper h2{
  text-align: center;
}
#wrapper p{
  display: inline-block;
  margin-top: 5%;
  margin-bottom: 5%;
}
#wrapper ul{
  list-style-type: none;
  text-align: center;
  line-height: 150%;
}
#wrapper{
  display: flex;
  justify-content: space-between;

  margin-left:5%;
}
#wrapper img{
  border:5px;
  border-style: solid;
  border-color:red;
  width: 80%;
  margin-top: 10%;
  margin-right: 20%;
  margin-bottom: 10%;
}

figure figcaption h1{
  color: white;
  font-size:100px;
  text-shadow:5px 5px 15px red;
}

